<h1>rota raiz de pedidos da pizzaria <%= nomeDoUsuario %></h1>

<ul>
  <% pedidos.map((pedido) => { %>
  <li>Pedido do <%= pedido.cliente.nome %> <%= pedido.cliente.sobrenome %></li>
  <% }) %>
</ul>
